.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.haw-logo {
  position: absolute;
  height: 40vmin;
  right: 0;
  margin-right: 25px;
}

.marker-class {
  position: absolute;
  right: 20px;
  margin-top: 20px;
  color: white;
  -webkit-text-stroke: 2px black;
}

.myVisibleDiv {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.myVisibleDiv.visible {
  opacity: 1;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 12vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
