<?xml version="1.0"?>

<model>
  <name>Test World</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>  

  <author>
    <name>Pascal Stahr</name>
    <email>pascal.stahr@haw-hamburg.de</email>
  </author>

  <description>
    Demo world to test shared guide dog simulation.
  </description>
</model>
